{% extends "base.html" %}
{% block content %}

<body bgcolor="black">
<font color="white">

<div class="jumbotron">
  <h1 class="text-center">ErrorCode404</h1>
</div>

<div class="text-center">
  <p class="text-warning">

  </p>
</div>

<div class="text-center">
  <hr>
  <img class="img-square">
<h2>Lets Debug!</h2>
  <a href="/review" class="btn btn-lg btn-danger">Enter your code</a>
  <a href="/show" class="btn btn-lg btn-danger">See previous bugs</a>
  <h1></h1>
  <!-- img src="/static/images/Logo.jpg" width= "60%"-->
</div>






{% endblock %}
