{% extends "base.html" %}
{% block content %}

<body bgcolor="black">
<font color="white">

<h1 class="bg-primary">Tre Warner</h1>
<p> I was born in Harlem, New York.</p>
<p> I grew up in Minneapolis, Minnesota.</p>
<p> My greatest dream is to make positive change in the education system for the betterment of impoverished children.</p>
<p> My family is split between living in Minneapolis and New York City.</p>
<img src = "https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/23172447_1102723779862226_8352592400036327962_n.jpg?_nc_cat=109&_nc_ht=scontent.fzty2-1.fna&oh=ebc4178703ddbd95f1a90f3df2017d42&oe=5C925779" width="500">
</p>


{% endblock %}
