{% extends "base.html" %}
{% block content %}

<h1 class="bg-primary">Tre Warner</h1>
<p> I was born in Harlem, New York on April 2, 2000.</p>
<p> I grew up in Minneapolis, Minnesota.</p>
<p> My greatest dream is to make positive change in the education system for the betterment of impoverished children.</p>
<p> My family is split between living in Minneapolis and New York City.</p>
<img src = "https://media.kare11.com/assets/KARE/images/b857f5ea-307b-4693-8be4-2acf754e6cef/b857f5ea-307b-4693-8be4-2acf754e6cef_1140x641.jpg" width="500">
</p>


{% endblock %}
